OrdersWPF/Connected Services/AdditService/AdditService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:8090/AdditService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:8090/AdditService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8090/AdditService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VotGESOrders.Web.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AdditService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="AdditService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="AdditService_GetAuthenticatedUser_InputMessage">
    <wsdl:part name="parameters" element="GetAuthenticatedUser" />
  </wsdl:message>
  <wsdl:message name="AdditService_GetAuthenticatedUser_OutputMessage">
    <wsdl:part name="parameters" element="GetAuthenticatedUserResponse" />
  </wsdl:message>
  <wsdl:message name="AdditService_info_InputMessage">
    <wsdl:part name="parameters" element="info" />
  </wsdl:message>
  <wsdl:message name="AdditService_info_OutputMessage">
    <wsdl:part name="parameters" element="infoResponse" />
  </wsdl:message>
  <wsdl:message name="AdditService_error_InputMessage">
    <wsdl:part name="parameters" element="error" />
  </wsdl:message>
  <wsdl:message name="AdditService_error_OutputMessage">
    <wsdl:part name="parameters" element="errorResponse" />
  </wsdl:message>
  <wsdl:message name="AdditService_debug_InputMessage">
    <wsdl:part name="parameters" element="debug" />
  </wsdl:message>
  <wsdl:message name="AdditService_debug_OutputMessage">
    <wsdl:part name="parameters" element="debugResponse" />
  </wsdl:message>
  <wsdl:portType name="AdditService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:AdditService/DoWork" message="AdditService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:AdditService/DoWorkResponse" message="AdditService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthenticatedUser">
      <wsdl:input wsaw:Action="urn:AdditService/GetAuthenticatedUser" message="AdditService_GetAuthenticatedUser_InputMessage" />
      <wsdl:output wsaw:Action="urn:AdditService/GetAuthenticatedUserResponse" message="AdditService_GetAuthenticatedUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="info">
      <wsdl:input wsaw:Action="urn:AdditService/info" message="AdditService_info_InputMessage" />
      <wsdl:output wsaw:Action="urn:AdditService/infoResponse" message="AdditService_info_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="error">
      <wsdl:input wsaw:Action="urn:AdditService/error" message="AdditService_error_InputMessage" />
      <wsdl:output wsaw:Action="urn:AdditService/errorResponse" message="AdditService_error_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="debug">
      <wsdl:input wsaw:Action="urn:AdditService/debug" message="AdditService_debug_InputMessage" />
      <wsdl:output wsaw:Action="urn:AdditService/debugResponse" message="AdditService_debug_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>