VotGESOrders/Service References/CranService/CranService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/CranService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VotGESOrders.Web.Models" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCranTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VotGESOrders.Web.Models" minOccurs="0" name="Filter" nillable="true" type="q1:CranFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCranTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VotGESOrders.Web.Models" minOccurs="0" name="getCranTasksResult" nillable="true" type="q2:CranFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCranTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VotGESOrders.Web.Models" minOccurs="0" name="task" nillable="true" type="q3:CranTaskInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCranTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VotGESOrders.Web.Models" minOccurs="0" name="CreateCranTaskResult" nillable="true" type="q4:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommentCranTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/VotGESOrders.Web.Models" minOccurs="0" name="task" nillable="true" type="q5:CranTaskInfo" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommentCranTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/VotGESOrders.Web.Models" minOccurs="0" name="CommentCranTaskResult" nillable="true" type="q6:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelCranTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/VotGESOrders.Web.Models" minOccurs="0" name="task" nillable="true" type="q7:CranTaskInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelCranTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/VotGESOrders.Web.Models" minOccurs="0" name="CancelCranTaskResult" nillable="true" type="q8:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishCranTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/VotGESOrders.Web.Models" minOccurs="0" name="task" nillable="true" type="q9:CranTaskInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishCranTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/VotGESOrders.Web.Models" minOccurs="0" name="FinishCranTaskResult" nillable="true" type="q10:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastUpdate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getLastUpdateResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>